<%= render 'management/tab' %>
<h1>Editing Consent Form Type</h1>

<%= render 'form', consent_form_type: @consent_form_type %>

<%= link_to 'Show', @consent_form_type %> |
<%= link_to 'Back', consent_form_types_path %>
<%= render 'management/tab-end' %>
