<%= render 'management/tab' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @consent_form_type.description %>
</p>

<p>
  <strong>Html text:</strong>
  <%= @consent_form_type.html_text %>
</p>

<%= link_to 'Edit', edit_consent_form_type_path(@consent_form_type) %> |
<%= link_to 'Back', consent_form_types_path %>
<%= render 'management/tab-end' %>