<p id="notice"><%= notice %></p>

<p>
  <strong>Nmperson:</strong>
  <%= @person.nmperson %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @person.create_time %>
</p>

<p>
  <strong>Pt idpersontype:</strong>
  <%= @person.pt_idpersontype %>
</p>

<p>
  <strong>Ic:</strong>
  <%= @person.ic %>
</p>

<p>
  <strong>Ict idictype:</strong>
  <%= @person.ict_idictype %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
