<p id="notice"><%= notice %></p>

<p>
  <strong>Nmusertype:</strong>
  <%= @usertype.nmusertype %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @usertype.create_time %>
</p>

<%= link_to 'Edit', edit_usertype_path(@usertype) %> |
<%= link_to 'Back', usertypes_path %>
