<%= form_with(model: signup, local: true) do |form| %>
  <% if signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(signup.errors.count, "error") %> prohibited this signup from being saved:</h2>

      <ul>
      <% signup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :username %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :username , class:"form-control",placeholder:"email@domain.com", autofocus:true%>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :password_digest %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :password_digest, class:"form-control" %>
        </div>
    </div>


    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :ic %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :ic, class:"form-control",placeholder:"some id number", autofocus:true %>
        </div>
    </div>


    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :ic_type_id %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :ic_type_id, class:"form-control" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :address_line1 %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :address_line1, class:"form-control" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :address_line2 %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :address_line2, class:"form-control" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :zipcode %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :zipcode, class:"form-control" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :state %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :state, class:"form-control" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :country %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :country, class:"form-control" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :phone %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :phone, class:"form-control" %>
        </div>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
