<p id="notice"><%= notice %></p>

<h1>Signups</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password digest</th>
      <th>Ic</th>
      <th>Ic type</th>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>Zipcode</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= signup.username %></td>
        <td><%= signup.password_digest %></td>
        <td><%= signup.ic %></td>
        <td><%= signup.ic_type %></td>
        <td><%= signup.address_line1 %></td>
        <td><%= signup.address_line2 %></td>
        <td><%= signup.zipcode %></td>
        <td><%= signup.state %></td>
        <td><%= signup.country %></td>
        <td><%= signup.phone %></td>
        <td><%= link_to 'Show', signup %></td>
        <td><%= link_to 'Edit', edit_signup_path(signup) %></td>
        <td><%= link_to 'Destroy', signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signup', new_signup_path %>
