<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @signup.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @signup.password_digest %>
</p>

<p>
  <strong>Ic:</strong>
  <%= @signup.ic %>
</p>

<p>
  <strong>Ic type:</strong>
  <%= @signup.ic_type %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @signup.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @signup.address_line2 %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @signup.zipcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @signup.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @signup.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @signup.phone %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
