<%= form_with(model: supply_food_configuration, local: true,class: "form-horizontal") do |form| %>
  <% if supply_food_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supply_food_configuration.errors.count, "error") %> prohibited this supply_food_configuration from being saved:</h2>

      <ul>
      <% supply_food_configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :name %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :name , class:"form-control",placeholder:"Name configuration parameter", autofocus:true%>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :description %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :description , class:"form-control",placeholder:"describe the parameter" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :value %>
        </div>
        <div class="col-sm-8" >
            <%= form.text_field :value,class:"form-control",placeholder:"0" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :html_configuration %>
        </div>
        <div class="col-sm-8" >
            <%= form.text_area :html_configuration, :rows => "10", class:"form-control",placeholder:" the html content will show on the parameter page" %>
        </div>
    </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
