<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<h2>Supply Food Configurations</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Value</th>
      <th scope="col">Html message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supply_food_configurations.each do |supply_food_configuration| %>
      <tr  scope="row">
        <td><%= supply_food_configuration.name %></td>
        <td><%= supply_food_configuration.description %></td>
        <td><%= supply_food_configuration.value %></td>
        <td><%= supply_food_configuration.html_configuration %></td>
        <td><%= link_to 'Edit', edit_supply_food_configuration_path(supply_food_configuration) %></td>
        <td><%= link_to 'Destroy', supply_food_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--
<%= link_to 'New Supply Food Configuration', new_supply_food_configuration_path %>
-->
<%= render 'management/tab-end' %>