<p id="notice"><%= notice %></p>

<p>
  <strong>Dspersontype:</strong>
  <%= @persontype.dspersontype %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @persontype.create_time %>
</p>

<%= link_to 'Edit', edit_persontype_path(@persontype) %> |
<%= link_to 'Back', persontypes_path %>
