<%= form_with(model: sqllog, local: true) do |form| %>
  <% if sqllog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sqllog.errors.count, "error") %> prohibited this sqllog from being saved:</h2>

      <ul>
      <% sqllog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sql_executed %>
    <%= form.text_field :sql_executed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
