        <ul class="nav nav-tabs">
          <li <%= 'class=active' if current_page?(controller: 'users', action: 'new') %> >
                <%= link_to 'User', signup_url  %>
          </li>
          <li <%= 'class=active' if current_page?(controller: 'users', action: 'new_personal_info') %> >
                <%= link_to 'Personal info', signup_personal_info_url %>
          </li>
          <li <%= 'class=active' if current_page?(controller: 'users', action: 'new_address') %> >
                <%= link_to 'Address', signup_address_url  %>
          </li>
        </ul>