<%= render 'management/tab' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Person:</strong>
  <%= @user.person.name %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type.name %>
</p>


<%= link_to 'Back', users_path %>
<%= render 'management/tab-end' %>