
    <p>
       Home Page
    </p>
<%= link_to 'People', people_url %>
<%= link_to 'Identification Card Types', ictypes_url %>
<%= link_to 'Person Types', persontypes_url %>
<%= link_to 'About', about_path %>
<br>
<%= link_to 'Address types', addresstypes_url %>
<%= link_to 'Public place types',publicplacetypes_url %>
<%= link_to 'User types', usertypes_url %>