

<h1> Supply!Food</h1><br/>
<H2>Freeware solution for hunger reduction and food insecurity</H2>
<div class="text-center">
    <img src=<%= asset_path 'operationalFlow.png' %> style="width: 450px;">
</div>
<p> Domain Objects</p>
<%= link_to 'People', people_url %>
<%= link_to 'Identification Card Types', ictypes_url %>
<%= link_to 'Person Types', persontypes_url %>
<br>
<%= link_to 'Address types', addresstypes_url %>
<%= link_to 'Public place types',publicplacetypes_url %>
<%= link_to 'User types', usertypes_url %>

<p>Useful links :</p>
<a href="https://www.worldhunger.org/">World Hunger</a> - concept and facts about hunger around the world.<br/>
<hr />
<p>Supply Food is an open source project available at <a href="https://github.com/supplyFoodIntl/supplyFood">https://github.com/supplyFoodIntl/supplyFood</a>.<br>
<hr />

<H3>Developed with the following freeware tools:</H3>
    <H4>Server side : </H4>Ruby on Rails<br>
    <H4>3D Art :</H4> Blender<br>
    <H4>Vector Graphs :</H4> Inkscape<br>
    <H4>Bitmaps :</H4> Gimp 2<br>
</p>