<%= form_with(model: postal_code_hint, local: true,class: "form-horizontal") do |form| %>
  <% if postal_code_hint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postal_code_hint.errors.count, "error") %> prohibited this postal_code_hint from being saved:</h2>

      <ul>
      <% postal_code_hint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :code %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :name, class:"form-control",placeholder:"zipcode", autofocus:true %>
        </div>
    </div>

 <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :hint %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :hint, class:"form-control",placeholder:"hint (road, avenue , street )" %>
        </div>
    </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
