<%= form_with(model: postal_code_hint, local: true) do |form| %>
  <% if postal_code_hint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postal_code_hint.errors.count, "error") %> prohibited this postal_code_hint from being saved:</h2>

      <ul>
      <% postal_code_hint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :hint %>
    <%= form.text_field :hint %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
