<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<h2>Postal Code Hints</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Public place name</th>
      <th scope="col">Hint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postal_code_hints.each do |postal_code_hint| %>
      <tr scope="row">
        <td><%= postal_code_hint.code %></td>
        <td><%= postal_code_hint.public_place_name %></td>
        <td><%= postal_code_hint.hint %></td>
        <td><%= link_to 'Edit', edit_postal_code_hint_path(postal_code_hint) %></td>
        <td><%= link_to 'Destroy', postal_code_hint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postal Code Hint', new_postal_code_hint_path %>
<%= render 'management/tab-end' %>
