<%= form_with(model: person_type, local: true,class: "form-horizontal") do |form| %>
  <% if person_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_type.errors.count, "error") %> prohibited this person_type from being saved:</h2>

      <ul>
      <% person_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group field">  
        <div class="control-label col-md-8">
            <%= form.label :name %>
        </div>
        <div class="col-md-8">
            <%= form.text_field :name , class:"form-control",placeholder:"person type name", autofocus:true%>
        </div>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
