<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<h2>Assignment Types</h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assingment_types.each do |assingment_type| %>
      <tr scope="row">
        <td><%= assingment_type.name %></td>
        <td><%= assingment_type.description %></td>
        <td><%= link_to 'Edit', edit_assingment_type_path(assingment_type) %></td>
        <td><%= link_to 'Destroy', assingment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Assignment Type', new_assingment_type_path %>
<%= render 'management/tab-end' %>
