<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assingment_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assingment_type.description %>
</p>

<%= link_to 'Edit', edit_assingment_type_path(@assingment_type) %> |
<%= link_to 'Back', assingment_types_path %>
<%= render 'management/tab-end' %>
