<script>



         function addDonation(event) {
            const clientPromise = stitch.StitchClientFactory.create('test_stitch-tyysi');

            let client;
            let db;

            clientPromise.then(stitchClient => {
            client = stitchClient;
            db = client.service('mongodb', 'mongodb-atlas').db('testStitch');}

             
             var donation_to_add = '{"person":{"full_name":"#{donation[good_type]}","IC":"#{ic}","IC_Type":"#{ic_type}","user":{"email":"#{email}"}},"goods":[{"good_type":donation[good_type],"qty":10},{"good_type":2,"qty":10}],"scheduled_start":"2018/06/10 10:00","scheduled_until":"2018/06/10 15:00","confirmed":false,"collected":false,"concerns":{"expiration_date":false,"quality":false}}';
             db.collection("donations").insertOne({owner_id : client.authedId(), donation: donation_to_add});
         }
</script>

<%= form_with(model: donation, local: true,class: "form-horizontal") do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group field">  
        <div class="control-label col-sm-8">
            <%= form.label :available_start %>
            <%= form.datetime_select :available_start %>
        </div>
    </div>


  <div class="form-group field">  
    <div class="control-label col-sm-8">
        <%= form.label :available_end %>
        <%= form.datetime_select :available_end %>
    </div>
  </div>
<hr>

<h2>Goods</h2>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :good_type %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :good_type, class:"form-control",placeholder:"eg : Broadway )" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :qty %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :qty, class:"form-control",placeholder:"eg : Broadway )" %>
        </div>
    </div>
<hr>
<h2>Retrieve Address</h2>
    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :lineOne %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :lineOne, class:"form-control",placeholder:"eg : Broadway )" %>
        </div>
    </div>
    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :lineTwo %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :lineTwo, class:"form-control",placeholder:"eg : Broadway )" %>
        </div>
    </div>
    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :lineThree %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :lineThree, class:"form-control",placeholder:"eg : Broadway )" %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :Phone  %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :Phone, class:"form-control",placeholder:"eg : Broadway )" %>
        </div>
    </div>
    <%= link_to "","send mongo", remote: true, class: 'btn btn-xs btn-success',  onmousedown: "addDonation(event);"  %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
