<h2>Goods</h2>

	  <script>
  $( function() {
    $( ".datepickerSubGood" ).datepicker();
  } );
    </script>
    <div class="form-group nested-fields">  
        
        <div class="control-label col-sm-4">
                <%= f.label :good_type %>
                <%= f.collection_select( :good_type_id , GoodType.all, :id, :name,class:"form-control field" )%>
        </div>
        
        <div class="control-label col-sm-4">
                <%= f.label :quantity %>
                <%= f.text_field :quantity, class:"form-control field", placeholder:"eg : 5" %>
        </div>
        
        <div class="control-label col-sm-4">
                <%= f.label :measure_unit %>
                <%= f.collection_select( :measure_unit_id,  MeasureUnit.all, :id, :name,class:"form-control field" ) %>
        </div>

        <div class="control-label col-sm-4 ">
            <%= f.label :expiration_date %>
			<%= f.text_field :expiration_date, class:"form-control field datepickerSubGood" %>
        </div>
		
    </div>
