<%= form_with(model: private_place_type, local: true, class: "form-horizontal") do |form| %>
  <% if private_place_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(private_place_type.errors.count, "error") %> prohibited this private_place_type from being saved:</h2>

      <ul>
      <% private_place_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :name %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :name, class:"form-control",placeholder:"Public place type", autofocus:true %>
        </div>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
