<p id="notice"><%= notice %></p>

<h1>Private Place Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @private_place_types.each do |private_place_type| %>
      <tr>
        <td><%= private_place_type.name %></td>
        <td><%= link_to 'Show', private_place_type %></td>
        <td><%= link_to 'Edit', edit_private_place_type_path(private_place_type) %></td>
        <td><%= link_to 'Destroy', private_place_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Private Place Type', new_private_place_type_path %>
