<h1>Management</h1>
<ul class="nav nav-tabs">
   <li <%= 'class=active' if current_page?(controller: 'address_types', action: 'index') %>>
      <%= link_to 'Address types', address_types_url %>
  </li>
  <li
      <%= 'class=active' if current_page?(controller: 'assingment_types', action: 'index') %> >
      <%= link_to 'Assignment Type', assingment_types_url  %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'supply_food_configurations', action: 'index') %>> 
      <%= link_to 'Configurations', supply_food_configurations_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'ic_types', action: 'index')  %>>
      <%= link_to 'Contact Messages', form_contacts_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'ic_types', action: 'index')  %>>
      <%= link_to 'Identification Card Types', ic_types_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'good_types', action: 'index') %>  >
      <%= link_to 'Good Types', good_types_url %>
  </li>
    
  <li 
      <%= 'class=active' if current_page?(controller: 'levels', action: 'index') %>  >
      <%= link_to 'Levels', levels_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'logs', action: 'index') %> >
      <%= link_to 'Logs', logs_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'measure_units', action: 'index') %>>
      <%= link_to 'Measure Units', measure_units_url %>
  </li>
    
  <li
      <%= 'class=active' if current_page?(controller: 'people', action: 'index') %> >
      <%= link_to 'People', people_url  %>
  </li>

  <li <%= 'class=active' if current_page?(controller: 'person_types', action: 'index') %>>
      <%= link_to 'Person Types', person_types_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'private_place_types', action: 'index') %> >
      <%= link_to 'Private place types',private_place_types_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'public_place_types', action: 'index') %> >
      <%= link_to 'Public place types',public_place_types_url %>
  </li>
   <li <%= 'class=active' if current_page?(controller: 'postal_code_hints', action: 'index') %>>
      <%= link_to 'Postal Code Hints', postal_code_hints_url %>
  </li>
  <li <%= 'class=active' if current_page?(controller: 'user_types', action: 'index') %> >
      <%= link_to 'User types', user_types_url %>
  </li>

  
    

</ul>
<div class="row">
    <div class="col-xs-12">

