<div class="row">
    <div class="col-xs-12">
<%
 @linkClass = "nav-link bg-light border border-secondary text-dark "
 if current_page?(controller: 'address_types', action: 'index')
    @address_types_active = ' active' 
 elsif current_page?(controller: 'assingment_types', action: 'index')
    @assignment_types_active = ' active' 
 elsif current_page?(controller: 'supply_food_configurations', action: 'index')
     @supply_food_configurations_active = ' active' 
 elsif current_page?(controller: 'form_contacts', action: 'index') 
     @form_contacts_active= ' active' 
 elsif  current_page?(controller: 'ic_types', action: 'index') 
     @ic_types_active= ' active' 
 elsif current_page?(controller: 'good_types', action: 'index')
     @good_types_active= ' active' 
elsif current_page?(controller: 'levels', action: 'index')
     @levels_active= ' active' 
elsif current_page?(controller: 'logs', action: 'index')
     @logs_active= ' active' 
elsif current_page?(controller: 'measure_units', action: 'index')
     @measure_units_active= ' active' 
elsif current_page?(controller: 'people', action: 'index')
     @people_active= ' active' 
elsif current_page?(controller: 'person_types', action: 'index')
     @person_types_active= ' active' 
elsif current_page?(controller: 'private_place_types', action: 'index')
     @private_place_types_active= ' active' 
elsif current_page?(controller: 'public_place_types', action: 'index')
     @public_place_types_active= ' active' 
elsif current_page?(controller: 'postal_code_hints', action: 'index')
     @postal_code_hints_active= ' active' 
elsif current_page?(controller: 'users', action: 'index')
     @users_active= ' active' 
elsif current_page?(controller: 'user_types', action: 'index')
     @user_types_active= ' active' 
 end
%>
<h1>Management</h1>
<ul class="nav nav-tabs sfnav bg-light border border-secondary" >
  <li class="nav-item " >
      <%= link_to 'Address types', address_types_url , class:"#{@linkClass} #{@address_types_active}" %>
  </li>
    
  <li class="nav-item" >
      <%= link_to 'Assignment Type', assingment_types_url , class:"#{@linkClass} #{@assignment_types_active}" %>
  </li>
  <li class="nav-item"  > 
      <%= link_to 'Configurations', supply_food_configurations_url, class:"#{@linkClass}  #{@supply_food_configurations_active}" %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Contact Messages', form_contacts_url, class:"#{@linkClass}  #{@form_contacts_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Identification Card Types', ic_types_url, class:"#{@linkClass}  #{@ic_types_active}"  %>
  </li>
  <li class="nav-item"  >
      <%= link_to 'Good Types', good_types_url, class:"#{@linkClass}  #{@good_types_active}"  %>
  </li>
    
  <li class="nav-item"  >
      <%= link_to 'Levels', levels_url, class:"#{@linkClass}  #{@levels_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Logs', logs_url, class:"#{@linkClass}  #{@logs_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Measure Units', measure_units_url, class:"#{@linkClass}  #{@measure_units_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'People', people_url, class:"#{@linkClass} #{@people_active}"   %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Person Types', person_types_url, class:"#{@linkClass} #{@person_types_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Private place types',private_place_types_url, class:"#{@linkClass} #{@private_place_types_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Public place types',public_place_types_url , class:"#{@linkClass} #{@public_place_types_active}" %>
  </li>
   <li class="nav-item" >
      <%= link_to 'Postal Code Hints', postal_code_hints_url, class:"#{@linkClass} #{@postal_code_hints_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'Users', users_url, class:"#{@linkClass} #{@users_active}"  %>
  </li>
  <li class="nav-item" >
      <%= link_to 'User types', user_types_url, class:"#{@linkClass} #{@user_types_active}"  %>
  </li>
</ul>
<!--
<script type="application/javascript">
    $(document).ready(function(){
        $("li a").load(function(){
            $(this).addClass("active");
        });
    });
</script>
-->
    </div>
</div>
<div class="row  bg-light border border-secondary" id="grid_container">
    <div class="col-sm-12">

