<h1> Management</h1>
<h2> Site customization</h2>

<h2> Domain Objects</h2>
<%= link_to 'People', people_url %>
<%= link_to 'Identification Card Types', ictypes_url %>
<%= link_to 'Person Types', persontypes_url %>
<br>
<%= link_to 'Address types', addresstypes_url %>
<%= link_to 'Public place types',publicplacetypes_url %>
<%= link_to 'User types', usertypes_url %>