<%= form_with(model: supply_food_configuration, local: true) do |form| %>
  <% if supply_food_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supply_food_configuration.errors.count, "error") %> prohibited this supply_food_configuration from being saved:</h2>

      <ul>
      <% supply_food_configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :html_configuration %>
    <%= form.text_area :html_configuration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
