<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<h2>Address Types</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @address_types.each do |address_type| %>
      <tr scope="row">
        <td><%= address_type.name %></td>
        <td><%= link_to 'Show', address_type %></td>
        <td><%= link_to 'Edit', edit_address_type_path(address_type) %></td>
        <td><%= link_to 'Destroy', address_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address Type', new_address_type_path %>
<%= render 'management/tab-end' %>