<%= form_with(model: addresstype, local: true) do |form| %>
  <% if addresstype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(addresstype.errors.count, "error") %> prohibited this addresstype from being saved:</h2>

      <ul>
      <% addresstype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nmaddresstype %>
    <%= form.text_field :nmaddresstype %>
  </div>

  <div class="field">
    <%= form.label :create_time %>
    <%= form.datetime_select :create_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
