<%= render 'management/tab', ictype: @ictype %>
<p id="notice"><%= notice %></p>

<h2>Address types</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Create time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresstypes.each do |addresstype| %>
      <tr scope="row">
        <td><%= addresstype.nmaddresstype %></td>
        <td><%= addresstype.create_time %></td>
        <td><%= link_to 'Show', addresstype %></td>
        <td><%= link_to 'Edit', edit_addresstype_path(addresstype) %></td>
        <td><%= link_to 'Destroy', addresstype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addresstype', new_addresstype_path %>
