<p id="notice"><%= notice %></p>

<p>
  <strong>Nmaddresstype:</strong>
  <%= @addresstype.nmaddresstype %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @addresstype.create_time %>
</p>

<%= link_to 'Edit', edit_addresstype_path(@addresstype) %> |
<%= link_to 'Back', addresstypes_path %>
