<%= form_with(model: address, local: true,class: "form-horizontal") do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="form-group field">
    <%= form.label :public_place_id, class:"control-label"%>
    <%= form.text_field :public_place_id, class:"form-control col-sm" %>
  </div>
    <div class="form-group field">
    <%= form.label :private_place_type_id, class:"control-label" %>
    <%= form.text_field :private_place_type_id, class:"form-control col-sm" %>
  </div>
    <div class="form-group field">
    <%= form.label :private_place_number, class:"control-label" %>
    <%= form.number_field :private_place_number, class:"form-control col-sm" %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
