<p id="notice"><%= notice %></p>

<p>
  <strong>Public place:</strong>
  <%= @address.public_place %>
</p>

<p>
  <strong>Private place number:</strong>
  <%= @address.private_place_number %>
</p>

<p>
  <strong>Private place type:</strong>
  <%= @address.private_place_type %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
