<ul class="nav nav-tabs">
  <li ><%= link_to 'People', people_url ,data:{toggle: "pill"} %></li>
  <li><%= link_to 'Identification Card Types', ictypes_url %></li>
  <li><%= link_to 'Person Types', persontypes_url %></li>
  <li><%= link_to 'Address types', addresstypes_url %></li>
   <li>  <%= link_to 'Public place types',publicplacetypes_url %></li>
    <li>  <%= link_to 'User types', usertypes_url %></li>
</ul>

<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
