<%= render 'management/tab' %>
<h2>Editing Good Type</h2>

<%= render 'form', good_type: @good_type %>

<%= link_to 'Show', @good_type %> |
<%= link_to 'Back', good_types_path %>
<%= render 'management/tab-end' %>