<%= render 'management/tab' %>
<h2>Editing Public Place Type</h2>

<%= render 'form', public_place_type: @public_place_type %>

<%= link_to 'Show', @public_place_type %> |
<%= link_to 'Back', public_place_types_path %>
<%= render 'management/tab-end' %>
