<p id="notice"><%= notice %></p>

<h1>Ictypes - Identification Card Types</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Create time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ictypes.each do |ictype| %>
      <tr scope="row">
        <td ><%= ictype.nmidentificationcard %></td>
        <td><%= ictype.create_time %></td>
        <td><%= link_to 'Show', ictype %></td>
        <td><%= link_to 'Edit', edit_ictype_path(ictype) %></td>
        <td><%= link_to 'Destroy', ictype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ictype', new_ictype_path %>
