<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<h2>Logs</h2>

<%= Dir.entries("./log") %>

<%
# TODO : parametrize development, test and production logs
File.open("./log/development.log").each do |line| %> 
line : <%=line %> <br>

<% end %>

<br>

<%= render 'management/tab-end' %>