<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<h2>Logs</h2>
<div style="height:330px;width:95%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<%= Dir.entries("./log") %>

<%
# TODO : parametrize development, test and production logs
countLines=0
File.open("./log/development.log").each_with_index do |line,countLines| %> 
    <%=line %> <br>
<% 
    break if  countLines>100
end %>

</div>
<div class="actions">
    <form class="form-group" >
    <%= link_to "pack",logs_url, class: 'btn btn-primary btn-lg' %> 
    
        <%= link_to "filter",logs_url, class: 'btn btn-primary btn-lg' %>
        <input type="text" class="form-control col-sm-4" placeholder="filter log" >
    </form>
</div>
<%= render 'management/tab-end' %>