<%= render 'management/tab'  %>
<p id="notice"><%= notice %></p>

<h2>Logs</h2>
<div style="height:350px;width:100%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<%= Dir.entries("./log") %>

<%
# TODO : parametrize development, test and production logs
File.open("./log/development.log").each do |line| %> 
line : <%=line %> <br>

<% end %>

</div>
<div class="actions">
    <form class="form-group" >
    <%= link_to "pack",logs_url, class: 'btn btn-primary btn-lg' %> 
    
        <%= link_to "filter",logs_url, class: 'btn btn-primary btn-lg' %>
        <input type="text" class="form-control col-sm-4" placeholder="filter log" >
    </form>
</div>
<%= render 'management/tab-end' %>