 <nav class="navbar navbar-fixed-left">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"/>
						<span class="icon-bar"/>
						<span class="icon-bar"/>
					</button>
            <img style="padding:5px;" src=<%= asset_path 'home200.png' %> width="200px" />
            <a class="navbar-brand" href="#">Supply!Food</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donor<span class="caret"/>
							</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Donation report</a>
                        </li>
                        <li>
                            <a href="#">Call Donation</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Volunteer<span class="caret"/>
							</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Call center</a>
                        </li>
                        <li>
                            <a href="#">Manager</a>
                        </li>
                        <li>
                            <a href="#">Marketing</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management<span class="caret"/>
							</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Agents</a>
                        </li>
                        <li>
                            <a href="#">Storage</a>
                        </li>
                        <li>
                            <a href="#">Supply</a>
                        </li>
                        <li>
                            <a href="#">Delivery</a><hr/>
                        </li>
                        <li> <%= link_to 'People', people_url %></li>
                        <li><%= link_to 'Identification Card Types', ictypes_url %></li>
                        <li><%= link_to 'Person Types', persontypes_url %></li>
                        <li><%= link_to 'Address types', addresstypes_url %></li>
                        <li><%= link_to 'Public place types',publicplacetypes_url %></li>
                        <li><%= link_to 'User types', usertypes_url %></li>
                    </ul>
                </li>

                <li style="padding:20px 0px 0px 0px;">
                    <a href="#">Food Handling</a>
                </li>
                <li>
                    <a href="#">The value of a donation</a>
                </li>
                <li>
                    <a href="#">Legal</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">News</a>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li id = "navBarStats">
                    <strong>Stats</strong><br/>
                    <span id="donations"></span>
                    <span id="donatedTo"></span>
                </li>
                <script>
                    function getData() { //this will read file and send information to other function
                        var xmlhttp;

                        if (window.XMLHttpRequest) {
                            xmlhttp = new XMLHttpRequest();
                        } else {
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }

                        xmlhttp.onreadystatechange = function() {
                            if (xmlhttp.readyState == 4) {
                                var lines = xmlhttp.responseText; //*here we get all lines from text file*

                                intoArray(lines); //here we call function with parameter "lines*"                   
                            }
                        }

                        xmlhttp.open("GET", "resources/stats/stats.txt", true);
                        xmlhttp.send();
                    }

                    function intoArray(lines) {
                        // splitting all text data into array "\n" is splitting data from each new line
                        //and saving each new line as each element*

                        var lineArr = lines.split('\n');

                        document.getElementById("donations").innerHTML = "<span>Donations : " + lineArr[1] + "</span><br/>";
                        document.getElementById("donatedTo").innerHTML = "<span>People Supplied :" + lineArr[3] + "</span><br/>";
                    }

                </script>

                <script>
                    getData();

                </script>

        </div>
    </nav>